<div class="container">
  <h1>What dose to add ?</h1>
  <%= simple_form_for [ @cocktail, @dose ] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.submit "Add dose", :class=>"btn btn-primary" %>
  <% end %>
</div>
